.aboout{
    margin: 40px 20px 40px 20px;
    text-align: center;
    font-size: 60px
}
.content{
    text-align: left;
    margin: 10px 10% 2px 10%;
    font-size: larger;
    line-height: 30px;
}

.meAbout{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.imgaboutme{
    border-radius: 20px;
    height: 300px;
    width: 400px;
}

.bbtn{
    padding: 10px 20px 10px 20px ;
    background-color: rgb(233, 233, 255);
    border-radius: 20px;
    font-size: larger;
    text-decoration: none;
    margin-top: 30px;
}
.bloggimgg{
    height: 320px;
}


@media screen and ((min-width:550px)and(max-width: 1100px)) {
    .meAbout{
        flex-direction: column;
       
    }
    
    .bloggimgg{
        height: 250px;
    }
    
  }

@media screen and ((max-width: 550px)) {
    .meAbout{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .bloggimgg{
        height: 150px;
    }
    .imgaboutme{
        height: 250px;
    width: 250px;
    }
    .aboout{
        font-size: 50px;
    }
    
  }
 
